In [22]:
n = int(input("층의 갯수를 입력하세요: "))
i = 1

for i in range(n+1):
    for j in range(n-i):
        print(' ', end="")
    for j in range(2*i-1):
        print("*", end="")
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [19]:
n = int(input("층의 갯수를 입력하세요: "))
i = 1

for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [25]:
n = int(input("별의 개수를 입력하세요: "))

count = 0
break_all = False

for i in range(1, 11):
    for j in range(i):
        count += 1
        if count > n:
            break_all = True
            break
        print("*", end="")
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

In [23]:
n = int(input("별의 개수를 입력하세요: "))

count = 0

for i in range(1,11):
    stars = 2*i -1
    spaces = 10-i

    if count+stars >= n:
        print(" "*spaces + "*"*(n-count))
        break
    else :
        print(" "*spaces+"*"*stars)
        count += stars

         *
        ***
       ****

In [38]:
#리스트컴프리헨션

numbers = [i for i in range(1,11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
numbers = [i for i in range(1,11) if i%2 == 0]
numbers

[2, 4, 6, 8, 10]

In [41]:
marks = [90, 25, 67, 45, 80]

for i in range(len(marks)):
    if marks[i] >= 60:
        print(f"{i+1}번 불합격")
    else :
        print(f"{i+1}번 합격")

1번 불합격
2번 합격
3번 불합격
4번 합격
5번 불합격

In [42]:
words = "가나다"
print(words)

while True :
    answer = input("끝말잇기 단어를 입력: ")

    if answer[0] == words[-1]:
        print(answer)
        words = answer
    else :
        print(answer)
        print("땡")
        break

가나다
다람쥐
쥐포
포기
귀찮아
땡

In [44]:
numbers = [1, 1, 3, 3, 0, 1, 1]

answer = []
comp = numbers[0]
answer.append(comp)

for i in numbers:
    if comp != i:
        comp = i
        answer.append(comp)
answer

[1, 3, 0, 1]

In [47]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 
letters = ".... . .-.. .-.. ---"
input = letters.split()

for i in input:
    print(morse[i], end="")

hello

In [51]:
'''
빼빼로데이

빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

입력1
["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

출력1
['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']
'''

want = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]
result = list(set(want))
result.sort()
result

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [53]:
'''
영단어갯수세기

내가 외운 단어의 개수는 몇개일까요?

입력1
"culture experience symbol symbol education symbol effect education affair liberty liberty affair"

출력1
7
'''

a ="culture experience symbol symbol education symbol effect education affair liberty liberty affair"
b=a.split()

answer = list(set(b))
len(answer)

7

In [ ]:
def num_max(a, b, c,):
    if a>b and a>c:
        print(a)
    elif b>a and b>c:
        print(b)
    elif c>a and c>a:
        print(c)

num = num_max(10, 12, 7)
num

In [54]:
testArray = [52, 273, 32, 103, 275, 24, 57]

def num_min(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i
    return answer

num_min(testArray)

24

In [57]:
def add_many(*args):
    print(args)
    sum = 0
    for i in args:
        sum += 1
    return sum

add_many(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

7

In [59]:
def add_mul(choice, *args):
    print(choice, args)
    if choice == 'add':
        result = 0
        for i in args:
            result += i
        pass
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
        pass
    else:
        print("연산자 종류 확인 요망")
        result = None
    return result

add_mul('add', 1, 2, 3, 4, 5)

add (1, 2, 3, 4, 5)

15

In [62]:
def say_my(name, age=30, man=True):
    print(f"{name}, {age}")
    if man :
        print('남자')
    else :
        print('여자')

say_my('박지민', man = False, age = 24)

박지민, 24
여자