# 2025-09-22

In [ ]:
#트리문제 같이 풀기 1.이중반복문

n = 10

for i in range(1, n+1):
    for j in range(n-i):
        print(' ', end="")
    for j in range(2*i-1):
        print("*", end="")
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [ ]:
#트리문제 같이 풀기 2.문자열 반복연산

n = 10

for i in range(1, n+1):
    spaces = ' '*(n-i)
    stars = "*"*(2*i-1)
    print(spaces+stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

for, while에서의 탈출 -> break
중첩반복문에서의 탈출?

In [28]:
break_all = False

for i in range(5):
    for j in range(5):
        print(f"i={i}, j={j}")
        if i == 2 and j == 3:
            print(i*j)
            break_all = True
            break
    if break_all:
        break

i=0, j=0
i=0, j=1
i=0, j=2
i=0, j=3
i=0, j=4
i=1, j=0
i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=2, j=0
i=2, j=1
i=2, j=2
i=2, j=3
6

In [44]:
# 사용자로부터 n개의 별의 갯수를 입력받은 뒤
# 별을 출력하되 별의 갯수만큼만 출력하다가 별이 다 소진되면 멈추는 코드작성
# 트리의 최대 높이는 10층

#정답풀이, 바탕화면 이미지1,2 참고

n = 30

star = 0
break_all = False

for i in range(1, 10+1):
    for j in range(i):
        star += 1
        if star > n:
            break_all = True
            break
        print('*', end="")
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

## 문자열의 인덱싱, 슬라이싱

In [45]:
my_str = "Hello, Python"

In [46]:
my_str

'Hello, Python'

In [ ]:
# 인덱싱
my_str[7]

'P'

In [51]:
# 음수 인덱싱
my_str[-6]

'P'

In [ ]:
# 슬라이싱 [star:end:step]
my_str[7:11]

'Pyth'

In [54]:
my_str[:11]

'Hello, Pyth'

In [55]:
my_str[7:]

'Python'

In [56]:
my_str[::2]

'Hlo yhn'

In [57]:
my_str[::-1]

'nohtyP ,olleH'

In [58]:
type(my_str)

str

In [59]:
len(my_str)

13

In [60]:
my_str[12]

'n'

In [62]:
for i in my_str:
    print(i)

H
e
l
l
o
,

P
y
t
h
o
n

In [63]:
for i in range(len(my_str)):
    print(my_str[i])

H
e
l
l
o
,

P
y
t
h
o
n

In [64]:
# 문자열 데이터의 여러가지 기능들

my_str.lower()

'hello, python'

In [65]:
my_str.upper()

'HELLO, PYTHON'

In [69]:
words = my_str.split(',')
print(words)

['Hello', ' Python']

### 컬렉션 자료형

#### 리스트

리스트 : 복수의 다양한 형태의 데이터를 순서대로 저장하고 조작하는 기본 자료형

In [126]:
numbers = [1, 2, 5, 4, 3]

In [127]:
numbers.sort()

In [128]:
numbers

[1, 2, 3, 4, 5]

In [129]:
numbers = [1, 2, 5, 4, 3]

In [130]:
numbers.sort(reverse=True)

In [131]:
numbers

[5, 4, 3, 2, 1]

In [82]:
fruits = ['apple', 'banana', 'mango']

In [76]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [6, 7, 8, 9, 10]

In [77]:
numbers1 + numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
mixed = [1, "apple", True, [10,20,30]]

In [78]:
numbers1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [73]:
type(numbers)

list

In [104]:
fruits = ['apple', 'banana', 'mango']

In [105]:
# 수정
fruits[0] = 'grape'

In [106]:
fruits

['grape', 'banana', 'mango']

In [107]:
# 추가
fruits.append('cherry')

In [108]:
# 특정 위치에 추가
fruits.insert(2, 'kiwi')

In [109]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry']

In [110]:
fruits.extend(['orange', 'date'])

In [111]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry', 'orange', 'date']

In [112]:
fruits[-1]

'date'

In [113]:
fruits[:2]

['grape', 'banana']

In [114]:
fruits.pop()

'date'

In [115]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry', 'orange']

In [116]:
fruits.pop(1)

'banana'

In [117]:
fruits

['grape', 'kiwi', 'mango', 'cherry', 'orange']

In [ ]:
fruits.remove('cherry')
# 같은 이름이 여러개면 맨 앞부터 삭제
# 인덱스 번호 물어보고, 원하는 부분을 pop으로 삭제하면 됨

In [119]:
fruits

['grape', 'kiwi', 'mango', 'orange']

In [120]:
fruits.index('orange')

3

In [121]:
fruits.count('orange')

1

In [122]:
fruits.append('apple')

In [123]:
fruits

['grape', 'kiwi', 'mango', 'orange', 'apple']

In [124]:
fruits.sort()

In [125]:
fruits

['apple', 'grape', 'kiwi', 'mango', 'orange']

In [132]:
fruits.sort(reverse = True)

In [133]:
fruits

['orange', 'mango', 'kiwi', 'grape', 'apple']

In [134]:
fruits.reverse()

In [135]:
fruits

['apple', 'grape', 'kiwi', 'mango', 'orange']

In [136]:
fruits = ['apple', 'banana', 'mango', 'cherry']

In [137]:
for i in fruits:
    print(i)

apple
banana
mango
cherry

In [138]:
for i in range(len(fruits)):
    print(f"{i}번째 과일 {fruits[i]}")

0번째 과일 apple
1번째 과일 banana
2번째 과일 mango
3번째 과일 cherry

In [140]:
numbers = [10, 20, 30, 40, 50]

In [141]:
len(numbers)

5

In [142]:
max(numbers)

50

In [143]:
min(numbers)

10

In [144]:
sum(numbers)

150

In [146]:
# 평균값은 ?
sum(numbers)/len(numbers)

30.0

In [151]:
# 반복문을 이용해서 리스트를 간단하게 생성 -> 리스트컴프리헨션
numbers = [i for i in range(1,10+1)]

In [152]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
num_list=[]
for i in range(10):
    num_list.append(i)
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
num_list=[]
for i in range(10):
    if i%2 == 0:
        num_list.append(i)
num_list

[0, 2, 4, 6, 8]

In [157]:
numbers = [i for i in range(1,10+1) if i % 2 == 0]

In [158]:
numbers

[2, 4, 6, 8, 10]

In [154]:
numbers = [i**2 for i in range(1,10+1)]

In [155]:
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 실습

marks = [90, 25, 67, 45, 80]

for i in marks:
    if i >= 60:
        print(f"{marks.index(i)+1}번 학생은 합격입니다.")
    else :
        print(f"{marks.index(i)+1}번 학생은 불합격입니다.")

### 점수가 중복되는 상황이면 이렇게 하면 안됨

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
# 답안1

marks = [90, 25, 67, 45, 80]

for i in range(len(marks)):
    if marks[i] >= 60:
        print(f"{i+1}번 학생은 합격입니다.")
    else :
        print(f"{i+1}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
# 답안2

marks = [90, 25, 67, 45, 80]
number = 0
for i in marks:
    number += 1
    if i >= 60:
        print(f"{number}번 학생은 합격입니다.")
    else :
        print(f"{number}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
#끝말잇기 게임
#실습

words1 = ["가","나","다"]

while True:
    words2 = list(input("단어를 입력해주세요: "))
    if words1[-1] == words2[0] :
        print(words2)
        words1 = words2
        continue
    else : 
        print(words2)
        print("땡")
        break

['다', '람', '쥐']
['쥐', '포']
['포', '기']
['귀', '찮', '아']
땡

In [ ]:
#끝말잇기 게임
#답안

var = "가나다"

print(var)
while True:
    answer = input("끝말잇기 단어를 입력: ")
    #비교하는 루틴
    if answer[0] == var[-1] :
        print(answer)
        var = answer
    else :
        print(answer)
        print("땡")
        break

가나다
다람쥐
쥐포
포기
귀찮아
땡

In [ ]:
#업그레이드 미션
#리스트 numbers 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, numbers에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다.
#단, 제거된 후 남은 수들을 반환할 때는 numbers의 원소들의 순서를 유지해야 합니다.

#numbers = [1, 1, 3, 3, 0, 1, 1] -> [1, 3, 0, 1]

numbers = [1, 1, 3, 3, 0, 1, 1]

answer = []
comp = numbers[0]
answer.append(comp)

for i in numbers:
    if comp != i:               #이전 숫자와 같은지 비교
        comp = i                #비교할 숫자 갱신
        answer.append(comp)     #새로운 숫자이므로 리스트에 삽입
answer

# 말로 해보면 정리 잘됨
# 한번에 하려고 하지말고, 나누어서 하면 쉬움
# 다시 해보기

[1, 3, 0, 1]

### 딕셔너리

In [193]:
student = {'name' : 'Jimin', 'age': 29, 'hobby': 'game'}

In [194]:
type(student)

dict

In [ ]:
mydict={}
mydict= dict()

In [195]:
person = dict(name='chris', age=31)

In [196]:
person

{'name': 'chris', 'age': 31}

In [197]:
student = {'name' : 'Jimin', 'age': 29, 'hobby': 'game', 'name': '망개'}
student

{'name': '망개', 'age': 29, 'hobby': 'game'}

In [198]:
student['name']

'망개'

In [199]:
student.keys()

dict_keys(['name', 'age', 'hobby'])

In [200]:
student.values()

dict_values(['망개', 29, 'game'])

In [201]:
student.items()

dict_items([('name', '망개'), ('age', 29), ('hobby', 'game')])

In [202]:
for i in student.keys():
    print(i)

name
age
hobby

In [203]:
for i in student.values():
    print(i)

망개
29
game

In [204]:
for i in student.items():
    print(i)

('name', '망개')
('age', 29)
('hobby', 'game')

In [206]:
student['name'] = '망개떡'

In [207]:
student

{'name': '망개떡', 'age': 29, 'hobby': 'game'}

In [208]:
student['addr']= '서울시 용산구'

In [209]:
student

{'name': '망개떡', 'age': 29, 'hobby': 'game', 'addr': '서울시 용산구'}

In [214]:
student.get('addr2', "값이 없음")

'값이 없음'

In [216]:
student.pop('age')

29

In [217]:
student.popitem()

('addr', '서울시 용산구')

In [218]:
student

{'name': '망개떡', 'hobby': 'game'}

In [219]:
'name' in student.keys()

True

In [ ]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 
'''
입출력 예 

letter  result 

".... . .-.. .-.. ---"  "hello" 

".--. -.-- - .... --- -."   "python" 
'''

morse_input = input("모스 부호를 입력하세요: ").split(' ')

for i in morse_input:
    print(morse[i], end="")

hello

In [225]:
letter = ".... . .-.. .-.. ---"

a = letter.split()

answer = ''
for i in a:
    answer += morse[i]

print(answer)

hello

#### set 자료형

중복을 허용하지 않고, 순서가 없는 데이터

In [226]:
s = {1, 2, 3, 4, 2, 3}

In [230]:
s.add(5)

In [231]:
s

{1, 2, 3, 4, 5}

In [232]:
s.pop()

1

In [233]:
s.remove(3)

In [234]:
s

{2, 4, 5}

In [227]:
type(s)

set

In [228]:
s

{1, 2, 3, 4}

In [229]:
s[0]

TypeError: 'set' object is not subscriptable

In [235]:
my_list = [1, 2, 3, 5, 1, 2, 3]

In [237]:
list(set(my_list))

[1, 2, 3, 5]

In [238]:
a = {1,2,3,4}
b = {3,4,5,6}

In [239]:
a | b

{1, 2, 3, 4, 5, 6}

In [240]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [241]:
a&b

{3, 4}

In [242]:
a.intersection(b)

{3, 4}

In [243]:
a-b

{1, 2}

In [244]:
a.difference(b)

{1, 2}

#### 튜플

immutable

In [245]:
t1 = ()

In [246]:
t2 = (1,2,3)

In [247]:
type(t2)

tuple

In [248]:
t2[0]

1

In [249]:
t3= ('a', 4, ('ab'))

In [250]:
rawdata = ()

In [251]:
t4 = 1, 2, 3, 4

In [252]:
type(t4)

tuple

In [256]:
'''
빼빼로데이

빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

입력1
["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

출력1
['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']
'''

a = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

answer = list(set(a))
answer.sort()
answer

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [261]:
'''
영단어갯수세기

내가 외운 단어의 개수는 몇개일까요?

입력1
"culture experience symbol symbol education symbol effect education affair liberty liberty affair"

출력1
7
'''

a = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"
b = a.split()

answer = list(set(b))

len(answer)

7

In [262]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

#### 함수

In [ ]:
def my_func():
    print('내가 만든 함수입니다')

In [269]:
def my_func(a):
    print(f'{a}내가 만든 함수입니다')

In [270]:
my_func('Hey')
my_func('Hello')
my_func('Hi')

Hey내가 만든 함수입니다
Hello내가 만든 함수입니다
Hi내가 만든 함수입니다

In [267]:
def my_sum(a, b):
    result = a + b
    return result

In [272]:
num1 = my_sum(3, 4)
num2 = my_sum(7,4)

print(num1,num2)

7 11

In [278]:
def num_max(a, b, c,):
    if a>b and a>c:
        print(a)
    elif b>a and b>c:
        print(b)
    elif c>a and c>a:
        print(c)

num = num_max(10, 12, 7)
num

12

In [ ]:
#답안

def max_num(a, b, c):
    max_val = a
    if b > max_val:
        max_val=b
    if c> max_val:
        max_val = c
    return max_val

num = max_num(10, 12, 7)
num

12

In [283]:
testArray = [52, 273, 32, 103, 275, 24, 57]
answer = []

def num_min():
    for i in testArray:
        i+=1
        if testArray[i] < testArray[i+1]:
            answer[i] = testArray[i]
        
    return answer
    
num_min(testArray)

TypeError: num_min() takes 0 positional arguments but 1 was given

In [ ]:
#답안

testArray = [52, 273, 32, 103, 275, 24, 57]

def num_min(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i
    return answer

num_min(testArray)

24

In [292]:
def add_many(*args):   # 매개변수앞에 * 붙이면 여러 인자를 튜플로 하나로 받아서 처리해줌
    print(args)
    sum = 0
    for i in args:
        sum += i
    return sum

In [293]:
add_many(1, 2)

(1, 2)

3

In [294]:
add_many(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

28

In [ ]:
#답안

def add_mul(choice, *args):   
    print(choice, args)
    if choice == 'add':
        result = 0
        for i in args:
            result += i
        pass
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
        pass
    else :
        print("연산자 종류 확인 요망!")
        result = None
    return result

In [302]:
add_mul('add', 1, 2, 3, 4, 5)

add (1, 2, 3, 4, 5)

15

In [303]:
add_mul('mul', 1, 2, 3, 4, 5)

mul (1, 2, 3, 4, 5)

120

In [304]:
def add_and_mul(a, b):
    return a+b, a*b

In [306]:
result1, result2 = add_and_mul(3, 4)

In [307]:
result1

7

In [309]:
result2

12

In [313]:
def say_myself(name, age=30, man=True):
    print(f'{name}, {age}')
    if man :
        print('남자')
    else :
        print('여자')

In [314]:
say_myself('박지민')

박지민, 30
남자

In [312]:
say_myself('chris', 31, False)

chris, 31
여자

In [316]:
say_myself('chris', man = False, age = 24)

chris, 24
여자